body {
  background-color: black;
  font-size: 40px;
  color: black;
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 50px 350px 150px 50px;
}

.site-header {
  background-color: red;
  margin: 0 5px;
}

.site-main {
  background-color: lightgreen;
  margin: 0 5px;
}

.widget-area {
  background-color: yellow;
  margin: 0 5px;
}

.site-footer {
  background-color: blue;
  margin: 0 5px;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px 150px 50 px;
    grid-template-areas:
      "h m m m"
      "h w w w"
      "h f f f";
  }
  .site-header {
    grid-area: h;
  }
  .site-main {
    grid-area: m;
  }
  .widget-area {
    grid-area: w;
  }
  .site-footer {
    grid-area: f;
  }
}
@media (min-width: 1200px) {
  .container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 500px 50px;
    grid-template-areas:
      "h m m m m m m w"
      "h f f f f f f w";
  }
  .site-header {
    grid-area: h;
  }
  .site-main {
    grid-area: m;
  }
  .widget-area {
    grid-area: w;
  }
  .site-footer {
    grid-area: f;
  }
}
